@font-face {
  font-family: "Source Serif 4";
  src: url("../fonts/SourceSerif4-VariableFont[opsz,wght].ttf")
    format("truetype");
  font-style: normal;
  font-weight: 200 900;
}

@font-face {
  font-family: "Science Gothic";
  src: url("../fonts/ScienceGothic[YOPQ,wdth,wght,slnt].ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
}

$main-font: "Source Serif 4";
$display-font: "Science Gothic";
