@use "../utilities/mixins" as mixin;
@use "../base/typography" as type;

@use "../components/header";
@use "../components/poem";
@use "../components/footer";

body {
  @include mixin.flex-around-column();
  font-family: type.$body-font;
  background: var(--gradient-15);
  background-size: cover;
  gap: 20px;
}
